<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <h1>Clientes</h1>
    <ul>
    {% for client in clients %}
        <li>
            <a href="{% url 'update_client' client.id %}">{{ client }}</a>
        </li>
    {% endfor %}
    </ul>

    <a href="{% url 'new_client' %}">Novo Cliente</a>
</body>
</html>